@font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston-Regular.eot') format('embedded-opentype'),
    url('../fonts/Winston-Regular.ttf') format('truetype');
    src: url('../fonts/Winston-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    }    

    @font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston-Medium.ttf') format('truetype'), 
    url('../fonts/Winston-Medium.eot') format('embedded-opentype'),
    url('../fonts/Winston-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    }
    

    @font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston-SemiBold.ttf') format('truetype'),
    url('../fonts/Winston-SemiBold.eot') format('embedded-opentype'),
    url('../fonts/Winston-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    }
    

    @font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston-Bold.ttf') format('truetype'),
    url('../fonts/Winston-Bold.eot') format('embedded-opentype'),
    url('../fonts/Winston-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    }

    @font-face {
        font-family: 'Vasek';
        src: url('../fonts/VasekItalic.ttf') format('truetype'); 
        src: url('../fonts/VasekItalic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Vasek';
        src: url('../fonts/Vasek-Italic.woff2') format('woff2');
        src: url('../fonts/Vasek-Italic.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    